<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{htmlHead :: htmlHead}">
</head>
<body>
<div th:replace="~{menu :: menu}"></div>
<p>Private</p>
<p>User details:</p>
<pre th:text="${user}"></pre>
</body>
